@import "/theme.css";

dt {
  float: left;
  clear: left;
  font-weight: bold;
}

dd {
  margin: 0 0 0 80px;
  padding: 0 0 0.5em 0;
  max-width: 250px;
}

form {
  display: flex;
}

button {
  margin-top: 24px;
  flex-grow: 1;
  font-size: 12pt;
  width: 75px;
  height: 35px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

dialog {
  border-radius: 7px;
  border: 1px solid var(--neutral-dark);
}

@media (min-width: 600px) {
  .row {
    display: flex;
    max-width: 600px; /* FIXME: This shouldn't be here, rather in above ones. */
  }
}

.code {
  font-size: 24pt;
  color: var(--neutral-medium);
  text-align: right;
  margin-right: 30px;
  width: 120px;
}

.label {
  padding: 7px;
}

dialog::backdrop {
  /* background: var(--backdrop); */
  background: rgba(54, 78, 79, 0.45);
}
