@import "/theme.css";

dt {
  float: left;
  clear: left;
  font-weight: bold;
}

dd {
  margin: 0 0 0 80px;
  padding: 0 0 0.5em 0;
  max-width: 250px;
}

.includes {
  font-style: italic;
  max-width: 250px;
}

form {
  display: flex;
}

button {
  flex-grow: 1;
  font-size: 12pt;
  width: 75px;
  height: 35px;
}

h3 {
  text-align: center;
}

dialog {
  border-radius: 7px;
}

dialog::backdrop {
  /* background: var(--backdrop); */
  background: rgba(54, 78, 79, 0.45);
}
