:host {
  --brand-main: rgb(90, 196, 189);
  --brand-dark: rgb(98, 128, 127);
  --brand-light: rgb(209, 239, 237);
  --neutral-light: lightsteelblue;
  --neutral-medium: grey;
  --neutral-dark: darkgrey;
  --highlight: yellow;
  --text: black;

  /* Modal. */
  --backdrop: rgba(255, 0, 0, 0.25);

  --error-bg: indianred;
  --error-fg: white;
}

a {
  color: mediumblue;
  text-decoration: none;
}

a:visited {
  color: mediumblue;
}
