#screen {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 8pt;
  color: lightgrey;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

bm-header {
  /* background: red; */
  /* color: white; */
}

main {
  /* background: yellow; */
  flex: 1;
}

@media (min-width: 600px) {
  main {
    margin: 25px auto;
  }
}

bm-footer {
  /* background: red; */
  /* color: white; */
}
