@import "/theme.css";

input {
  padding: 10px 15px;
  width: stretch;
  width: -webkit-fill-available;
  font-size: 12pt;
  border-radius: 25px;
  border: 1px solid var(--neutral-dark);
  color: var(--neutral-medium);
}

#results {
  margin-top: 10px;
  border: 1px solid darkgrey;
}

#results:empty {
  display: none;
}

.l4-item {
  background: var(--brand-dark);
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--brand-light);
  font-size: 12px;
}

.l6-item {
  color: var(--neutral-medium);
  padding: 7px;
  font-size: 13px;
}

.code {
  display: inline-block;
  width: 70px;
}

.highlight {
  background: var(--highlight);
}

.label {}
